<p *ngIf="show; then showBlock else hideBlock"></p>

<ng-template #showBlock>
  <h1>Show block</h1>
</ng-template>
<ng-template #hideBlock>
  <h1>Hide Block</h1>
</ng-template>
<button class="btn btn-primary" (click)="changeClick()">
  {{ show ? 'Hide Block' : 'Show Block' }}</button>
<p [ngStyle]="{'color':fcolor}"> Ng Module Implementation</p>
<p [ngStyle]="{ 'font-size.px': size }"> Ng Number Implementation</p>

<input type="text"  [(ngModel)]="size" name="size"><br>
<input type="radio" name="a" (click)="colorChnge('red')">Red<br>
<input type="radio" name="a" (click)="colorChnge('green')"> Green
<input type="text" name="" [(ngModel)]="showView">
<div [ngSwitch]="showView">
  <p *ngSwitchCase="1">This Is One Block</p>
  <p *ngSwitchCase="2">This Is One Block44444444</p>
  <p *ngSwitchDefault>Default</p>

</div>
